Message Database/Access Services/ServiceTesterClient/Service References/OrderServiceReference/Default1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AnderssonLink.MessageDatabase.AccessServices.OrderService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AnderssonLink.MessageDatabase.AccessServices.OrderService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOrderMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderMessage" nillable="true" type="tns:OrderMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderMessage" nillable="true" type="tns:ArrayOfOrderMessage" />
  <xs:complexType name="OrderMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ItemDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Recipient" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderMessage" nillable="true" type="tns:OrderMessage" />
</xs:schema>