Storage_Service/Access_services/ServiceTesterClient/Service References/OrderServiceReference/Default.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://win-5btszfzq7gd.anderssonlink.local/OrderService/Default.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AnderssonLink.MessageDatabase.AccessServices.OrderService" />
  <xs:element name="GetOrders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AnderssonLink.MessageDatabase.AccessServices.OrderService" minOccurs="0" name="GetOrdersResult" nillable="true" type="q1:ArrayOfOrderMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AnderssonLink.MessageDatabase.AccessServices.OrderService" minOccurs="0" name="newOrder" nillable="true" type="q2:OrderMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PutOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>