TestClient/Service References/OrderServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="OrderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportRefKeyIdentifier />
            <sp:MustSupportRefIssuerSerial />
          </wsp:Policy>
        </sp:Wss10>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AnderssonLink" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderService_GetOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrders" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_DeleteOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_DeleteOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_PutOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:PutOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_PutOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrderService">
    <wsdl:operation name="GetOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetOrders" message="tns:IOrderService_GetOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetOrdersResponse" message="tns:IOrderService_GetOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/DeleteOrder" message="tns:IOrderService_DeleteOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/DeleteOrderResponse" message="tns:IOrderService_DeleteOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/PutOrder" message="tns:IOrderService_PutOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/PutOrderResponse" message="tns:IOrderService_PutOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpEndpoint" type="tns:IOrderService">
    <wsp:PolicyReference URI="#BasicHttpEndpoint_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOrders">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/DeleteOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/PutOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderService">
    <wsdl:port name="BasicHttpEndpoint" binding="tns:BasicHttpEndpoint">
      <soap:address location="https://win-5btszfzq7gd.anderssonlink.local/OrderService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>